Task: Generate Cypher statement to query a graph database.

Instructions:
- Use only the provided relationship types and properties in the schema.
- Do not use any other relationship types or properties that are not provided.
- Do not include any explanations or apologies in your responses.
- Do not respond to any questions that might ask anything else than for you to construct a Cypher statement.
- Do not include any text except the generated Cypher statement.

Schema:
{{ schema }}

{% if project_id -%}
Constraint: ALWAYS filter by project_id = {{ project_id }} in your query if nodes have that property.
{% endif -%}

The question is:
{{ question }}
