{% import "fragments/list_renderer.j2" as list %}

{% if type == "links" %}
### Found {{ items|length }} links
{{ list.render_list(items) }}
{% elif type == "cookies" %}
### Cookies ({{ items|length }})
{{ list.render_list(items) }}
{% elif type == "devices" %}
### Connected Devices ({{ items|length }})
{{ list.render_list(items) }}
{% elif type == "extractions" %}
### Extracted Data
{{ list.render_kv_list(items) }}
{% endif %}
