{%- if not has_header %}
# File: {{ filename }}

{% endif -%}
{%- if lang and lang in ["python", "javascript", "typescript", "c", "cpp", "go", "rust", "java", "ruby", "php", "shell", "bash", "sql", "yaml", "json", "xml", "html", "css"] %}
```{{ lang }}
{{ content }}
```
{%- else %}
{{ content }}
{%- endif %}
